PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
*/5 * * * * www-data bash /var/www/html/docker/script/myddleware-cron.sh 2>&1
* * * * * root bash /var/www/html/docker/script/myddleware-monitor.sh 2>&1
